@import url('http://fonts.cdnfonts.com/css/stencilia');

* {
  transition: all 0.35s;
}

.thirdPage {
  height: 100vh;
  width: 98vw;
  display: grid;
  grid-template-columns: 43vw 30vw 25vw;
  grid-template-rows: 89vh 8vh;
}

.textContainer {
  margin-left: 5vh;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: 10vh 16vh 16vh 16vh 16vh 17vh;
  font-family: 'Stencilia-A', sans-serif;
  font-size: 7vw;
  text-shadow: #9aff00 3px 0px 2px;
  text-align: start;
  line-height: 5vh;
}

.lastEffect {
  grid-row: 1;
  grid-column-start: 2;
  content: '';
  border-radius: 50%;
}

.footerContainer {
  grid-row: 2;
  margin-bottom: 1vh;
}

.first {
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
}
.second {
  grid-row: 3;
}
.third {
  grid-row: 4;
}
.fourth {
  grid-row: 5;
}
.fifth {
  grid-row: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}

@media (max-width: 600px) {
  .thirdPage {
    margin: 4vh;
    grid-template-columns: 40vw 30vw 30vw;
    grid-template-rows: 95vh 5vh;
    height: 90vh;
    width: 95vw;
  }
  .textContainer {
    grid-template-columns: 40vw 35vw;
    grid-template-rows: 8vh 8vh 8vh 10vh;
    top: -4vh;
    position: relative;
    font-size: 5vh;
  }
  .first {
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .second {
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
  }
  .third {
    grid-row: 2;
    text-align: center;
  }
  .fourth {
    grid-row: 2;
    grid-row: 3;
  }
  .fifth {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 6vh;
    justify-self: center;
    align-self: center;
  }
  .glitchLogo {
    justify-self: center;
    left: -20%;
    top: 40%;
    transform: translate(0%, -50%);
    font-size: 60vh;
  }
}

@media (max-width: 450px)  {
  .thirdPage {
    grid-template-rows: 83vh 12vh;
    height: 100vh;
  }
  .textContainer {
    font-size: 4vh;
  }
  .fifth {
    font-size: 5vh;
  }
  .glitchLogo {
    font-size: 50vh;
    padding: 0;
  }
  .footerContainer {
    position: relative;
    font-size: 2vh;
    display: grid;
    width: 93vw;
    grid-template-columns: 47vw 49vw;
    grid-template-rows: 9vh 5vh;
  }
  .footerContainer svg {
    font-size: 3vh;
    top: 0.7vh;
  }
  .footerContainer p {
    align-self: center;
    line-height: 3vh;
  }
  .contact {
    grid-row: 1;
    grid-column: 2;

  }
  .phone {
    grid-row: 2;
    grid-column: 2;
  }
}
